body {
  background: #f3f5fc;
}
.main {
  position: relative;
  height: auto;
  width: 1440px;
  margin: 0 auto;
  background: #f3f5fc;
}

.logo {
  display: inline-block;
  position: absolute;
  top: 40px;
  left: 84px;
}

.input-area {
  display: inline;
  position: absolute;
  top: 186px;
  left: 264px;
}

#text-area {
  font-size: 30px;
  background: #f3f5fc;
  border: none;
}

#text-area:focus {
  outline: none;
}

.message-board {
  background-color: white;
  position: absolute;
  width: 400px;
  height: 880px;
  top: 40px;
  right: 40px;
  bottom: 500px;
  border-radius: 24px;
  text-align: center;
}

.message-board img {
  position: relative;
  top: 300px;
}

.buttons {
  position: absolute;
  top: 800px;
  left: 264px;
  
}
