@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  background: #f3f5fc;
  zoom: 94%;
}
.main {
  position: relative;
  height: 1024px;
  width: 1440px;
  margin: 0 auto;
  background: #f3f5fc;
}

.logo {
  display: inline-block;
  position: absolute;
  top: 40px;
  left: 84px;
}

.input-area {
  display: inline;
  position: absolute;
  top: 186px;
  left: 264px;
}

#text-area,
#message-board-text-area {
  font-size: 30px;
  background: #f3f5fc;
  border: none;
  color: #0a3871;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  resize: none;
}

#text-area::placeholder {
  color: #0a3871;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

#text-area:focus,
#message-board-text-area {
  outline: none;
}

.message-board {
  background-color: white;
  position: absolute;
  width: 400px;
  height: 944px;
  top: 40px;
  right: 40px;
  border-radius: 24px;
  text-align: center;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  transition: opacity 0.5s;
}

.message-board img {
  position: relative;
  top: 240px;
}

#no-message-warning {
  position: relative;
  top: 230px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  padding: 0 13px;
}

.message-board p {
  position: relative;
  top: 260px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  padding: 0 50px;
}

#copy-button {
  position: absolute;
  top: 845px;
  left: 32px;
  right: 32px;
  bottom: 32px;
  width: 328px;
  height: 67px;
  font-size: 20px;
  border-radius: 24px;
  border: 1px solid #0a3871;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #0a3871;
  background: white;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

#warning {
  position: absolute;
  left: 240px;
  top: 851px;
  bottom: 155px;
  width: 252px;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

#warning p {
  position: absolute;
  left: 20px;
  top: 3px;
}

#warning-sign {
  position: absolute;
  margin: 0 20px 0 0;
  top: 0;
  left: 0;
}

.buttons {
  position: absolute;
  display: inline;
  width: 680px;
  height: 67px;
  top: 885px;
  left: 240px;
  bottom: 72px;
  right: 520px;
}

.buttons button {
  box-sizing: border-box;
  width: 328px;
  height: 67px;
  font-size: 20px;
  border-radius: 24px;
  border: 1px solid #0a3871;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  background: #d8dfe8;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

#crypt-button,
.decrypt-button {
  position: absolute;
  top: 885px;
  left: 240px;
  bottom: 72px;
  width: 328px;
  height: 67px;
  font-size: 20px;
  border-radius: 24px;
  border: 1px solid #0a3871;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  background: #0a3871;
  color: white;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  transition: 0.5s;
}

#crypt-button:active {
  background: #061b35;
}

#decrypt-button {
  position: absolute;
  background-color: #d8dfe8;
  left: 592px;
  color: #0a3871;
}

#message-board-previous {
  visibility: hidden;
  transition: opacity 0.5s;
}

#message-board-text-area {
  position: absolute;
  width: 336px;
  height: 781px;
  left: 32px;
  right: 32px;
  top: 32px;
  bottom: 131px;
  background: white;
}

.hidden {
  opacity: 0;
}

@media only screen and (max-width: 768px) {
  body {
    zoom: 90%;
  }
  .main {
    position: relative;
    height: 200px;
    width: 768px;
  }

  .logo {
    position: absolute;
    top: 73.42px;
    left: 40px;
  }

  .input-area {
    position: absolute;
    width: 688px;
    height: 288px;
    left: 40px;
    right: 40px;
  }

  #text-area {
    width: 100%;
  }

  #crypt-button {
    position: absolute;
    left: 40px;
    top: 870px;
    right: 396px;
  }

  #decrypt-button {
    position: absolute;
    left: 396px;
    top: 870px;
    right: 40px;
    background: none;
  }

  .message-board {
    position: absolute;
    height: 133px;
    width: 688px;
    top: 1001px;
    left: 40px;
    right: 40px;
    bottom: 40px;
  }

  .message-board img {
    display: none;
  }

  #warning {
    position: absolute;
    left: 60px;
    top: 836px;
  }

  #no-message-warning {
    position: absolute;
    top: 32px;
    left: 32px;
    right: 32px;
    bottom: 72px;
  }

  .message-board {
    position: absolute;
    width: 688px;
    height: 343px;
    
  }

  #message-board-previous {
    position: absolute;
    width: 100%;
    height: 688px;
  }

  .message-board p {
    position: absolute;
    top: 77px;
    left: 32px;
    right: 32px;
    bottom: 32px;
  }

  #message-board-text-area {
    position: absolute;
    width: 600px;
    height: 180px;
    top: 40px;
    left: 40px;
    right: 40px;
    background: white;
  }

  #copy-button {
    position: relative;
    width: 80%;
    top: 244px;
    right: 40px;
    left: 0;
  }
}
